/* variables */
:root {
  --primary: #FFC636;
  --secondary: #0A0B5B;
}

/* reset */
body,p,a,ul,li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles */
body {
  background: var(--secondary);
  overflow-x: hidden;
}

/* fonts */
body {
  color: #f2f2f2;
}

/* mobile styles */
.App {
  margin: 5%;
}


